include ./head.jade
include ./navbar.jade

#about
  h3 Τι είναι το Mysti.co;
  p Το Mysti.co σου επιτρέπει να συζητάς με τους φίλους που ήδη έχεις στο facebook ανώνυμα. Οι συζητήσεις γίνονται σε προφιλ (τοίχους) που έχουν οι χρήστες στο Mystico. Ο τοίχος σου στο Mysti.co είναι εντελώς ανεξάρτητηος από το τοίχο σου στο facebook. Μπορείς να αρχίσεις μια συζήτηση στον τοίχο ενός φίλου σου, στην οποία θα μπορεί να απαντήσει αυτός χωρίς να γνωρίζει με ποιόν φίλο του μιλάει. Αντίθετα με παρόμοιες υπηρεσίες, μια συζήτηση στο Mystico μπορεί να έχει πολλές απαντήσεις και γίνεται πάντα μεταξύ φίλων. Αν και οι συζητήσεις είναι από προεπιλογή ορατά δημόσεις, ο ιδιοκτήτης του τοίχου πάνω στον οποίο γίνεται η συζήτηση μπορεί να αλλάξει την ορατότητα σε ιδιωτική, ώστε να φαίνεται μόνο σε αυτόν και στο ανώνυμο χρήστη με τον οποίο συνομιλεί.

  h3 Τι σημαίνει ανωνυμία;
  p Πως οι υπόλοιποι χρήστες του Mystico δεν γνωρίζουν ποιός δημιούργησε τις συζητήσεις (και τις απαντήσεις) που δημιοσιεύεις στους τοίχους των φίλων σου.

  h3 Ποιοί βλέπουν τις συζητήσεις στον τοίχο μου;
  p Όταν κάποιος φίλος σου ξεκινά μια συζήτηση στο τοίχο σου, αυτή αρχικά φαίνεται δημόσια, δηλαδή είναι ορατή σε όλους όσους έχουν το link για το προφιλ σου στο mysti.co, άσχετα με το αν είναι φίλοι σου ή όχι. Μπορείς πάντα να αλλάξεις την ορατότητα μιας συζήτηση μέσω της επιλογής στην πάνω αριστερή γωνία κάθε συζήτησης. Θέτοντας την ορατότητα σε "Ορατό σε φίλους" η συζήτηση θα είναι ορατή στους συνδεδεμένους φίλους σου μόνο. Θέτοντας την ορατότητα σε "Ιδωτική Συζήτηση", η συζήτηση δεν είναι ορατή σε κανέναν παρά μόνο σε εσένα και στον ανώνυμο φίλο σου με τον οποίο συνομιλείς.

  h3 Δεν βλέπω όλους τους φίλους μου στο Mystico!
  p Μπορείς να δεις μόνο ποιοί φίλοι σου έχουν ενεργοποιήσει το λογαριασμό τους στο Mystico. Δεν έχεις παρά να προτείνεις στους φίλους σου να συνδεθούν στο Mystico!

  h3 Πώς προσθέτω ή διαγράφω έναν φίλο;
  p Δεν μπορείς να προσθέσεις ή να διαγράψεις φίλους στου Mystico. Όμως, προσθέτοντας ή διαγράφοντας ένα άτομο από φίλο σου στο Facebook, η λίστα φίλων σου στο Mystico ανανεώνεται αυτόματα.

  h3 Δέχομαι λεκτικές επιθέσεις/προσοβολές/απειλές στο Mystico.
  p Αναφέρετε αμέσως τη συζήτηση στους διαχειρηστές του Mystico, πατώντας "Αναφορά" πάνω δεξιά στη συζήτση.

include ./tail.jade
