header#normal
  a(href='/')
    h1 Mysti.co
  ul#menu
    if user
      li
        a(href='/logout') Αποσύνδεση
      li
        a(href='/u/'+user.username)#user= user.name
      li#notifications(rv-on-click='user.toggleNotifications' rv-class-notify='user.unreadNotifications') {user.unreadNotifications}
        ul(rv-show = 'user.showNotifications')
          li.empty(rv-hide='user.notifications | length') Δεν υπάρχουν ειδοποιήσεις
          li(rv-each-notification='user.notifications').notification
            a(rv-href='notification.profile | link')
              .notification-body(rv-show='notification.type | eq reply') Υπάρχουν νέες απαντήσεις στη συζήτηση {notification.title}
              .notification-body(rv-show='notification.type | eq post') Κάποιος άρχισε μια νέα συζήτηση στο τοίχο σας: {notification.title}
              .notification-info 
                span(rv-data-livestamp='notification.createdAt | unixTime')
    else
      li
        a(href='/connect') Σύνδεση
